html,
body,
#root {
  height: 100%;
  background-color: #223241;
}

.height-100 {
  height: 100%;
  background-color: #223241;
}

svg {
  background-color: #223241;
}

.question-h {
  color: #d6ad60;
  font-size: 28px;
}
.capital-point {
  margin-left: 15%;
}

.WorldMap {
  text-align: center;
  background-color: #223241;
  margin-top: 5%;
  margin-left: 10%;
}
.capitalContent {
  display: flex;
  background-color: #223241;
}
.capital-question-form {
  margin-left: 15%;
  margin-top: 10%;
  width: 100%;
}

.information {
  margin-left: 10%;
  margin-top: 1%;
}

.point h1 {
  margin-left: 45%;
  font-size: 40px;
}

.flagGame img {
  margin-left: 40%;
}

.flagGame .form {
  margin-top: 2%;
}

.flagGame .form h1 {
  font-size: 30px;
  margin-left: 41%;
}

.flagGame .form form {
  margin-left: 42%;
}

.capital-question-form button {
  margin-top: 1%;
}
.capital-button {
  margin-left: 16%;
}
.capital-question-form input {
  margin-top: 1%;
  margin-left: 12%;
}

.form button {
  margin-left: 4px;
}

.countryFlag {
  width: 350px;
}

@media (max-width: 800px) {
  .capitalContent {
    display: none;
  }
  .flagGame img {
    width: 250px;
    margin-left: 30%;
  }
  .flagGame .form h1 {
    font-size: 22px;
    margin-left: 30%;
  }
  .flagGame .form form {
    margin-left: 27%;
  }

  .countriesSpan {
    display: none;
  }
  .point h1 {
    font-size: 35px;
    margin-left: 37%;
  }

  .capital-button {
    margin-top: 2%;
    margin-left: 31%;
  }
  .capital-question-form input {
    margin-left: 25%;
  }
  .capital-point {
    margin-left: 32%;
  }
  .information {
    margin-left: 23%;
  }
}

@media (max-width: 1626px) {
  .flagGame {
    margin-top: 10%;
  }
  .capital-button {
    margin-top: 2%;
    margin-left: 30%;
  }
  .capital-question-form {
    margin-left: 25%;
  }
  .capital-question-form input {
    margin-left: 25%;
  }
  .capital-point {
    margin-left: 32%;
  }
  .information {
    margin-left: 23%;
  }

  .flagGame img {
    width: 300px;
    margin-left: 30%;
  }
  .point h1 {
    font-size: 35px;
    margin-left: 37%;
  }
  .flagGame .form form {
    margin-left: 30%;
  }
  .flagGame .form h1 {
    font-size: 22px;
    margin-left: 32%;
  }
  .countriesSpan {
    display: none;
  }
  .capitalContent {
    display: inline-block;
  }
}

@media (max-width: 550px) {
  .flagGame {
    margin-top: 30%;
  }
  .flagGame img {
    width: 150px;
    margin-left: 30%;
  }
  .point h1 {
    font-size: 15px;
    margin-left: 40%;
    margin-top: 1%;
  }
  .flagGame .form h1 {
    font-size: 15px;
    margin-left: 27%;
  }
  .flagGame .form form {
    font-size: 15px;
    margin-top: 10%;
    margin-left: 10%;
  }
  .countriesSpan {
    display: none;
  }
  .form input {
    margin-left: 2%;
  }
  header a {
    font-size: 80%;
  }
  .capital-question-form {
    width: 80%;
    margin-left: 15%;
  }
  .capital-question-form h1 {
    font-size: 15px;
    margin-left: 15%;
  }
  .information {
    margin-left: 10%;
    margin-top: 8%;
    width: 100%;
  }

  .capital-button {
    margin-top: 4%;
    margin-left: 28%;
  }
  .capital-point {
    margin-left: 28%;
  }
  .capital-question-form input {
    margin-left: 15%;
  }
}
