html, body, #root{
  height: 100%;
  background-color:#223241;
}


.height-100{
    height: 100%;
    background-color:#223241;
}

.question-form{
  margin-left: 15%;
  margin-top: 15%;
  width: 100%;
  

  
}
svg{
  background-color:#223241;
}

.WorldMap{
  text-align: center;
  background-color:#223241;
  
}
